XML/allegati/data.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT child (name, weight, parents)>
<!ELEMENT father (name)>
<!ELEMENT mother (name)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT parents (mother, father)>
<!ELEMENT weight (#PCDATA)>
<!ATTLIST weight
    units CDATA #REQUIRED>

<!-- vedere "data-1.xml" (cui si riferisce) -->

